# Faker
- 가상 데이터 생성

In [ ]:
#!pip install faker

Requirement already satisfied: faker in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (37.1.0)
Requirement already satisfied: tzdata in c:\users\playdata\appdata\local\anaconda3\envs\pystudy_env\lib\site-packages (from faker) (2025.1)

In [4]:
from faker import Faker

fake = Faker()
print(fake.name())
print(fake.first_name() + ',' + fake.last_name())
print(fake.email())
print(fake.company())
print(fake.date_of_birth(minimum_age=19, maximum_age=90))

Brandon Patterson
Samuel,George
johnmullins@example.org
Weaver Inc
1939-11-23

In [17]:
import pandas as pd
import random

fake = Faker()

def generate_customer_data(n=1000):
    data = []

    for _ in range(n):
        age = fake.random_int(min=19, max=60)
        sub_month = fake.random_int(min=1, max=120)
        monthly_payment = round(random.uniform(10,100),2)
        usage_frequency = fake.random_int(min=1, max=30)
        stft_score = fake.random_int(min=1, max=5)
        churn = fake.boolean(chance_of_getting_true=30)

        data.append([
            age, sub_month, monthly_payment, usage_frequency, stft_score, churn
        ])

        columns = ['AGE', 'SUB_MONTHS','MONTHLY_PAYMENT','USAGE_FEQ','STFT','CHURN']

    return pd.DataFrame(data, columns=columns)

In [18]:
customer_df = generate_customer_data(n=200000)

In [19]:
customer_df.head()

   AGE  SUB_MONTHS  MONTHLY_PAYMENT  USAGE_FEQ  STFT  CHURN
0   27          26            70.86         26     3   True
1   27          67            91.75         24     3   True
2   57          93            97.02         29     4  False
3   33          67            97.23         30     3  False
4   60          35            23.40         14     2  False

In [20]:
customer_df.tail()

        AGE  SUB_MONTHS  MONTHLY_PAYMENT  USAGE_FEQ  STFT  CHURN
199995   31          76            88.62         13     4  False
199996   29          92            20.82         22     4  False
199997   26         107            80.22          2     4  False
199998   21          45            79.51         20     4  False
199999   30          67            15.22         30     3  False

In [21]:
customer_df.to_csv('customer_data.csv', index=False)