# ì¶”ì²œ ì‹œìŠ¤í…œ (Recommendation System)

1. ì½˜í…ì¸  ê¸°ë°˜ í•„í„°ë§ (Content-based Filtering)
    - ì•„ì´í…œì˜ ì†ì„±ì„ ê¸°ë°˜ìœ¼ë¡œ ì‚¬ìš©ìì—ê²Œ ì í•©í•œ ì•„ì´í…œ ì¶”ì²œ

2. í˜‘ì—… í•„í„°ë§ (Collaborative Filtering)
    - ì‚¬ìš©ìë“¤ ê°„ì˜ ìœ ì‚¬ì„±ì„ ê¸°ë°˜ìœ¼ë¡œ ì¶”ì²œ
    - ì‚¬ìš©ì ê¸°ë°˜ê³¼ ì•„ì´í…œ ê¸°ë°˜ìœ¼ë¡œ ê°ê° ì¶”ì²œí•  ìˆ˜ ìˆìŒ
    - ì½œë“œ ìŠ¤íƒ€íŠ¸ ë¬¸ì œ: ì‚¬ìš©ìì˜ êµ¬ë§¤ ì´ë ¥ ë°ì´í„°ê°€ ìŒ“ì´ì§€ ì•Šìœ¼ë©´ ì¶”ì²œì„ í•  ìˆ˜ ì—†ìŒ
    - ì´ ë¬¸ì œë¥¼ í•´ê²°í•˜ê¸° ìœ„í•´ ê¸°ë³¸ì ìœ¼ë¡œ ì½˜í…ì¸  ê¸°ë°˜ ì¶”ì²œì„ í•˜ë‹¤ê°€ í•„í„°ë§í•  ìˆ˜ ìˆëŠ” ë°ì´í„°ê°€ ìŒ“ì´ë©´ í˜‘ì—… í•„í„°ë§ì„ ì‚¬ìš©í•´ ì¶”ì²œí•¨
    - ë§Œì•½ ì‹ ê·œ ì‚¬ìš©ìê°€ ë“¤ì–´ì˜¨ë‹¤ë©´? ì²˜ìŒì—” ì½˜í…ì¸  ê¸°ë°˜ í•„í„°ë§ì„ í•˜ë‹¤ê°€ ë°ì´í„°ê°€ ìŒ“ì´ë©´ í˜‘ì—… í•„í„°ë§ìœ¼ë¡œ ì¶”ì²œí•˜ê²Œ ë¨

3. í•˜ì´ë¸Œë¦¬ë“œ ì¶”ì²œ ì‹œìŠ¤í…œ (Hybrid Recommendation System)
    - í˜‘ì—… í•„í„°ë§ê³¼ ì½˜í…ì¸  ê¸°ë°˜ í•„í„°ë§ì„ ê²°í•©í•˜ì—¬ ì¶”ì²œ

- ì˜í™” ë°ì´í„°
    1. **id**: ì˜í™”ì˜ ê³ ìœ  IDë¥¼ ë‚˜íƒ€ëƒ„.
    2. **title**: ì˜í™”ì˜ ì œëª©.
    3. **budget**: ì˜í™” ì œì‘ì— ì†Œìš”ëœ ì˜ˆì‚° (ë‹¨ìœ„: USD).
    4. **popularity**: ì˜í™”ì˜ ì¸ê¸° ì ìˆ˜. TMDbì—ì„œ ì œê³µí•˜ëŠ” ì˜í™”ì˜ ì¸ê¸°ë„ë¥¼ ë‚˜íƒ€ëƒ„.
    5. **genres**: ì˜í™”ì˜ ì¥ë¥´ë¥¼ ë‚˜íƒ€ë‚´ë©°, ì—¬ëŸ¬ ì¥ë¥´ê°€ í¬í•¨ëœ ê²½ìš° ë¦¬ìŠ¤íŠ¸ë¡œ í‘œí˜„ë¨.
    6. **overview**: ì˜í™”ì˜ ì¤„ê±°ë¦¬ë‚˜ ê°œìš”ë¥¼ ì„¤ëª…í•˜ëŠ” í…ìŠ¤íŠ¸.
    7. **release_date**: ì˜í™”ì˜ ê°œë´‰ ë‚ ì§œ.
    8. **revenue**: ì˜í™”ì˜ ì´ ìˆ˜ìµ (ë‹¨ìœ„: USD).
    9. **runtime**: ì˜í™”ì˜ ìƒì˜ ì‹œê°„ (ë‹¨ìœ„: ë¶„).
    10. **vote_average**: TMDbì—ì„œ ì œê³µí•˜ëŠ” ì˜í™”ì˜ í‰ê·  í‰ì .
    11. **vote_count**: ì˜í™”ì— ëŒ€í•œ í‰ê°€ ê°œìˆ˜.
    12. **production_companies**: ì˜í™”ì˜ ì œì‘ íšŒì‚¬ ë¦¬ìŠ¤íŠ¸.
    13. **production_countries**: ì˜í™”ì˜ ì œì‘ êµ­ê°€ ë¦¬ìŠ¤íŠ¸.
    14. **spoken_languages**: ì˜í™”ì—ì„œ ì‚¬ìš©ëœ ì–¸ì–´ ë¦¬ìŠ¤íŠ¸.
    15. **cast**: ì£¼ìš” ì¶œì—°ì§„ ë¦¬ìŠ¤íŠ¸.
    16. **crew**: ì˜í™” ì œì‘ì— ì°¸ì—¬í•œ ì£¼ìš” ì œì‘ì§„ ë¦¬ìŠ¤íŠ¸.
    17. **keywords**: ì˜í™”ì˜ í‚¤ì›Œë“œ ë¦¬ìŠ¤íŠ¸.
    18. **tagline**: ì˜í™”ì˜ íƒœê·¸ë¼ì¸(ì£¼ìš” í™ë³´ ë¬¸êµ¬).
    19. **original_language**: ì˜í™”ì˜ ì›ì–´ (ì˜ˆ: ì˜ì–´, í•œêµ­ì–´ ë“±).
    20. **homepage**: ì˜í™”ì˜ ê³µì‹ ì›¹ì‚¬ì´íŠ¸ URL.
    21. **poster_path**: ì˜í™” í¬ìŠ¤í„° ì´ë¯¸ì§€ URL ê²½ë¡œ.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# ë°ì´í„° ë¡œë“œ
movie_df = pd.read_csv('./data/tmdb_5000_movies.csv')
movie_df.head(2)
movie_df.shape

(4803, 20)

In [3]:
# ì‚¬ìš©í•  ì»¬ëŸ¼ ì„ íƒ
movie_df = movie_df[['id','title','genres','vote_average','vote_count','popularity','keywords','overview']]
movie_df.info() # overviewëŠ” 3ê°œê°€ ë¹ ì ¸ìˆìŒ
movie_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4803 non-null   int64
 1   title         4803 non-null   object
 2   genres        4803 non-null   object
 3   vote_average  4803 non-null   float64
 4   vote_count    4803 non-null   int64
 5   popularity    4803 non-null   float64
 6   keywords      4803 non-null   object
 7   overview      4800 non-null   object
dtypes: float64(2), int64(2), object(4)
memory usage: 300.3+ KB

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",7.6,9106,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,John Carter,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.1,2124,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."

---

##### ë°ì´í„° ì „ì²˜ë¦¬

In [4]:
# ì¥ë¥´ ë°ì´í„° ì „ì²˜ë¦¬
from ast import literal_eval # ë¬¸ìì—´ì„ ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ë³€í™˜í•´ì£¼ëŠ” í•¨ìˆ˜

# str -> list(dict)
movie_df['genres'] = movie_df['genres'].apply(literal_eval)
movie_df['genres']

0       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
1       [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
3       [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4       [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...
                              ...
4798    [{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...
4799    [{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...
4800    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4801                                                   []
4802                  [{'id': 99, 'name': 'Documentary'}]
Name: genres, Length: 4803, dtype: object

In [5]:
# name valueë§Œ êº¼ë‚´ì„œ list
movie_df['genres'] = movie_df['genres'].apply(lambda genres: [genre['name'] for genre in genres]) # ë¦¬ìŠ¤íŠ¸ì— ëŒ€í•´ lambda ì‹ì„ ì ìš©
movie_df['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4803, dtype: object

In [6]:
# list -> str (ê³µë°± ê¸°ì¤€ êµ¬ë¶„ ë¬¸ìì—´)
movie_df['genres'] = movie_df['genres'].apply(lambda x: ' '.join(x))
movie_df['genres']

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres, Length: 4803, dtype: object

---

### CountVectorizer

In [ ]:
# CountVectorizer: í…ìŠ¤íŠ¸ ë°ì´í„°ë¥¼ í¬ì†Œí–‰ë ¬ì˜ í˜•íƒœë¡œ ë°”ê¿”ì£¼ëŠ” ê²ƒ
# ì¥ë¥´ ìœ ì‚¬ë„ ì¸¡ì •ì„ ìœ„í•œ CountVectorizer ì‚¬ìš©
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer(ngram_range=(1,2))               # ngram_range=(1,2): ë‚´ê°€ ê°€ì§€ê³  ìˆëŠ” ë‹¨ì–´ë“¤ì— ëŒ€í•´ ë‹¨ì–´ ìŒì„ í•˜ë‚˜ ë˜ëŠ” ë‘ ê°œë¡œ ì¡°í•©í•˜ê² ë‹¤!
genres_vec = count_vectorizer.fit_transform(movie_df['genres'])
print(genres_vec.shape)                                             # (4803, 276): row, ì¥ë¥´ì˜ ê°œìˆ˜ê°€ 276ê°œ
print(genres_vec.toarray()[:5])                                     # í¬ì†Œí–‰ë ¬ì˜ í˜•íƒœë¡œ ë§Œë“¤ì–´ì§ # í¬í•¨ë˜ëŠ” ì¥ë¥´ë§ˆë‹¤ 1ì´ ë“¤ì–´ê°€ ìˆìŒ
genres_vec_vocab = pd.DataFrame(count_vectorizer.get_feature_names_out())   # í¬ì†Œí–‰ë ¬? count_vectorizerê°€ ê°€ì§„ ëª¨ë“  ì¥ë¥´ì˜ ì´ë¦„ì„ ì¶œë ¥
genres_vec_vocab

(4803, 276)
[[1 1 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 [1 1 0 ... 0 0 0]
 [1 0 0 ... 0 0 0]
 [1 1 0 ... 0 0 0]]

                    0
0              action
1    action adventure
2    action animation
3       action comedy
4        action crime
..                ...
271     western drama
272   western history
273     western music
274   western romance
275  western thriller

[276 rows x 1 columns]

---

### ì½”ì‚¬ì¸ ìœ ì‚¬ë„ ì¸¡ì •

- ë‹¨ìˆœíˆ ê°’ìœ¼ë¡œë§Œ í‰ê°€í•  ë•Œ ìœ ì‚¬ë„ë¥¼ ì°¾ê¸° ì–´ë µê¸° ë•Œë¬¸ì— plus, minus ë°©í–¥ê¹Œì§€ ë”°ì ¸ì„œ ìœ ì‚¬ë„ë¥¼ ì¸¡ì •
- 0ì„ ê¸°ì¤€ìœ¼ë¡œ -1ê³¼ -7ì€ ì™¼ìª½ ë°©í–¥, 1ì€ ì˜¤ë¥¸ìª½ ë°©í–¥ì´ë¼ -1ê³¼ -7ì´ ë°©í–¥ì´ ê°™ìœ¼ë¯€ë¡œ -1ê³¼ -7ì´ ìœ ì‚¬í•˜ë‹¤ê³  íŒë³„í•˜ëŠ” ê²ƒì´ ì½”ì‚¬ì¸ ìœ ì‚¬ë„

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity  # ì½”ì‚¬ì¸ ìœ ì‚¬ë„

genres_sim = cosine_similarity(genres_vec, genres_vec)
print(genres_sim.shape)
print(genres_sim[:2])                                   # ğŸ‘‰ genres_sim: ìœ ì‚¬ë„ ê°’ì„ ì €ì¥í•˜ëŠ” í–‰ë ¬

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]
 [0.59628479 1.         0.4        ... 0.         0.         0.        ]]

In [ ]:
movie_idx_by_genres_sim = genres_sim.argsort(axis=1)[:, ::-1]   # argsort: ì˜¤ë¦„ì°¨ìˆœ # í–‰ì€ ì „ì²´, ì—´ì€ ë’¤ì§‘ì–´ì„œ ê°€ì ¸ì˜¤ê¸°
movie_idx_by_genres_sim                                         # ğŸ‘‰ movie_idx_by_genres_sim: ìœ ì‚¬ë„ê°€ ë†’ì€ ì˜í™”ì˜ ì¸ë±ìŠ¤ë¥¼ ì •ë ¬í•œ í–‰ë ¬

array([[   0,   46, 3494, ..., 3600, 3569, 4799],
       [   1,  129,   12, ..., 4754, 4753, 3829],
       [1740, 1542,    2, ..., 4757, 4758, 4795],
       ...,
       [4800, 3809,  323, ..., 4771, 3640,   41],
       [   0, 4802, 4801, ..., 4797, 4798, 4799],
       [4698, 4524, 3891, ...,    2,    1, 4800]], shape=(4803, 4803))

In [ ]:
def recommend_movie_by_genres(movie_title, top_n=10):

    movie = movie_df[movie_df['title'] == movie_title]
    if movie.empty:
        return 'ì—†ëŠ” ì˜í™”ì…ë‹ˆë‹¤.'
    
    movie_idx = movie.index         # list

    topn_movie_idx = movie_idx_by_genres_sim[movie_idx, :top_n]         # í–‰: ë‚´ê°€ ì…ë ¥í•´ì¤€ ì˜í™”ë¥¼ ì°¾ê³ , ì—´: topnê°œë§Œí¼ ëŠì–´ì„œ ê°€ì ¸ì˜´
    topn_movie_idx = topn_movie_idx.reshape(-1)                         # reshape: 1ì°¨ì› í˜•íƒœê°€ ë˜ì–´ì•¼ í•˜ê¸° ë•Œë¬¸ì— ì°¨ì› ë³€ê²½
    return movie_df.iloc[topn_movie_idx]

In [25]:
recommend_movie_by_genres('Avatar', top_n=5)         # Avatarì™€ ìœ ì‚¬í•œ ì˜í™”ë¥¼ ì¶”ì²œí•´ì¤Œ

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,Action Adventure Fantasy Science Fiction,7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
46,127585,X-Men: Days of Future Past,Action Adventure Fantasy Science Fiction,7.5,6032,118.078691,"[{""id"": 1228, ""name"": ""1970s""}, {""id"": 1852, ""...",The ultimate X-Men ensemble fights a war for t...
3494,27549,Beastmaster 2: Through the Portal of Time,Action Adventure Fantasy Science Fiction,4.6,17,1.478505,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","Mark Singer returns as Dar, the warrior who ca..."
870,8536,Superman II,Action Adventure Fantasy Science Fiction,6.5,629,30.515175,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",Three escaped criminals from the planet Krypto...
14,49521,Man of Steel,Action Adventure Fantasy Science Fiction,6.5,6359,99.398009,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",A young boy learns that he has extraordinary p...

---

### í‰ì ì„ ë°˜ì˜í•œ ì¶”ì²œ ì‹œìŠ¤í…œ

**ê°€ì¤‘í‰ì ** 

$$
ê°€ì¤‘ í‰ì (Weighted Rating) = (v/(v+m)) * R + (m/(v+m)) * C
$$

-  v: ê°œë³„ ì˜í™”ì— í‰ì ì„ íˆ¬í‘œí•œ íšŸìˆ˜. vote_count
-  m: í‰ì ì„ ë¶€ì—¬í•˜ê¸° ìœ„í•œ ìµœì†Œ íˆ¬í‘œ íšŸìˆ˜. ì„ê³„ì¹˜ ì„¤ì •(ì§ì ‘)
-  R: ê°œë³„ ì˜í™”ì— ëŒ€í•œ í‰ê·  í‰ì . vote_average
-  C: ì „ì²´ ì˜í™”ì— ëŒ€í•œ í‰ê·  í‰ì . ì „ì²´ì ìœ¼ë¡œ í‰ì ì´ í›„í•œ í¸ì¸ì§€, ë°•í•œ í¸ì¸ì§€ ë°˜ì˜

In [ ]:
# v: vote_count
movie_df[['title','vote_average','vote_count']].sort_values(['vote_average'], ascending=False).head() # í‰ì ì„ ê°€ì§€ê³  ë‚´ë¦¼ì°¨ìˆœ sorting

                      title  vote_average  vote_count
4662         Little Big Top          10.0           1
3519       Stiff Upper Lips          10.0           1
4045  Dancer, Texas Pop. 81          10.0           1
4247  Me You and Five Bucks          10.0           2
3992              Sardaarji           9.5           2

In [34]:
# m: í‰ì ì„ ë¶€ì—¬í•˜ê¸° ìœ„í•œ ìµœì†Œ íˆ¬í‘œ íšŸìˆ˜ -> ì„ê³„ì¹˜ ì„¤ì •
movie_df['vote_count'].quantile(0.6)            # 60%ì˜ ë¶„ìœ„ìˆ˜ë¥¼ ê³„ì‚°í•œ ê²ƒ -> ìµœì†Œ íˆ¬í‘œìˆ˜ê°€ 370ì´ìƒì¸ ì• ë“¤ë§Œ ì¶”ì²œ ì‹œìŠ¤í…œì— ë„£ì!

np.float64(370.1999999999998)

In [ ]:
# ê°€ì¤‘ í‰ì  ê³„ì‚°ì„ ìœ„í•œ ë³€ìˆ˜ (v, m, R, C)
m = movie_df['vote_count'].quantile(0.6)    # ì„ê³„ì¹˜: ìµœì†Œ íˆ¬í‘œ íšŸìˆ˜
C = movie_df['vote_average'].mean()        # ì „ì²´ ì˜í™”ì— ëŒ€í•œ í‰ê·  í‰ì 

# ê°€ì¤‘ í‰ì 
def weighted_rating(movie):
    v = movie['vote_count']
    R = movie['vote_average']
    return ((v/(v+m)) * R) + ((m/(v+m)) * C)        # ê°€ì¤‘ í‰ì  ê³µì‹ ê·¸ëŒ€ë¡œ

movie_df['weighted_vote'] = movie_df.apply(weighted_rating, axis=1)     # ì—´ ê¸°ì¤€ ë°˜ì˜

movie_df[['title', 'vote_average', 'vote_count', 'weighted_vote']].sort_values('weighted_vote', ascending=False).head()

                         title  vote_average  vote_count  weighted_vote
1881  The Shawshank Redemption           8.5        8205       8.396052
3337             The Godfather           8.4        5893       8.263591
662                 Fight Club           8.3        9413       8.216455
3232              Pulp Fiction           8.3        8428       8.207102
65             The Dark Knight           8.2       12002       8.136930

In [ ]:
def recommend_movie_by_genres(movie_title, top_n=10):

    movie = movie_df[movie_df['title'] == movie_title]
    if movie.empty:
        return 'ì—†ëŠ” ì˜í™”ì…ë‹ˆë‹¤.'
    
    movie_idx = movie.index
    movie_df['genres_sim'] = genres_sim[movie_idx].reshape(-1)

    topn_movie_idx = movie_idx_by_genres_sim[movie_idx, :(top_n)*2]        
    topn_movie_idx = topn_movie_idx[topn_movie_idx != movie_idx[0]]         # ìê¸° ìì‹ ì´ ì—†ë„ë¡ ì²˜ë¦¬          
    return movie_df.iloc[topn_movie_idx].sort_values('weighted_vote', ascending=False)

In [44]:
recommend_movie_by_genres('Avatar')

,id,title,genres,vote_average,vote_count,popularity,keywords,overview,weighted_vote,genres_sim
46,127585,X-Men: Days of Future Past,Action Adventure Fantasy Science Fiction,7.5,6032,118.078691,"[{""id"": 1228, ""name"": ""1970s""}, {""id"": 1852, ""...",The ultimate X-Men ensemble fights a war for t...,7.418594,1.000000
813,1924,Superman,Action Adventure Fantasy Science Fiction,6.9,1022,48.507081,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",Mild-mannered Clark Kent works as a reporter a...,6.685190,1.000000
14,49521,Man of Steel,Action Adventure Fantasy Science Fiction,6.5,6359,99.398009,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",A young boy learns that he has extraordinary p...,6.477564,1.000000
420,11253,Hellboy II: The Golden Army,Adventure Fantasy Science Fiction,6.5,1527,58.579760,"[{""id"": 2096, ""name"": ""auction""}, {""id"": 7005,...",In this continuation to the adventure of the d...,6.420421,0.881917
870,8536,Superman II,Action Adventure Fantasy Science Fiction,6.5,629,30.515175,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",Three escaped criminals from the planet Krypto...,6.348901,1.000000
232,76170,The Wolverine,Action Science Fiction Adventure Fantasy,6.3,4053,15.953444,"[{""id"": 233, ""name"": ""japan""}, {""id"": 1462, ""n...",Wolverine faces his ultimate nemesis - and tes...,6.282606,0.777778
3208,333355,Star Wars: Clone Wars: Volume 1,Action Adventure Animation Fantasy Science Fic...,8.0,27,1.881466,"[{""id"": 6091, ""name"": ""war""}, {""id"": 161176, ""...","The Saga continues with the Emmy-winning ""Star...",6.221858,0.804030
1191,11551,Small Soldiers,Comedy Adventure Fantasy Science Fiction Action,6.2,511,23.088571,"[{""id"": 3599, ""name"": ""defense industry""}, {""i...",When missile technology is used to enhance toy...,6.154700,0.804030
1932,24264,Sheena,Action Adventure Comedy Fantasy Science Fiction,5.0,22,4.020194,"[{""id"": 409, ""name"": ""africa""}, {""id"": 3070, ""...",Sheena's white parents are killed while on Saf...,6.030907,0.804030
3494,27549,Beastmaster 2: Through the Portal of Time,Action Adventure Fantasy Science Fiction,4.6,17,1.478505,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","Mark Singer returns as Dar, the warrior who ca...",6.026658,1.000000
419,8247,Jumper,Adventure Fantasy Science Fiction,5.9,1799,21.218000,"[{""id"": 704, ""name"": ""adolescence""}, {""id"": 81...","David Rice is a man who knows no boundaries, a...",5.932796,0.881917
72,297761,Suicide Squad,Action Adventure Crime Fantasy Science Fiction,5.9,7458,90.237920,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 1296...","From DC Comics comes the Suicide Squad, an ant...",5.909088,0.804030
238,98566,Teenage Mutant Ninja Turtles,Science Fiction Action Adventure Fantasy Comedy,5.8,2636,143.350376,"[{""id"": 779, ""name"": ""martial arts""}, {""id"": 9...",The city needs heroes. Darkness has settled ov...,5.835980,0.804030
483,9562,Timeline,Action Adventure Science Fiction,5.4,318,11.222680,"[{""id"": 1992, ""name"": ""professor""}, {""id"": 437...",A group of archaeological students become trap...,5.772336,0.755929
2592,12211,Highlander: Endgame,Action Fantasy Science Fiction,4.4,104,11.782725,"[{""id"": 1014, ""name"": ""loss of lover""}, {""id"":...",Immortals Connor and Duncan Macleod join force...,5.721050,0.755929
1296,9531,Superman III,Comedy Action Adventure Fantasy Science Fiction,5.3,490,22.164202,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...","Aiming to defeat the Man of Steel, wealthy exe...",5.640923,0.904534
10,1452,Superman Returns,Adventure Fantasy Action Science Fiction,5.4,1400,57.925623,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",Superman returns to discover his 5-year absenc...,5.544753,0.777778
61,76757,Jupiter Ascending,Science Fiction Fantasy Action Adventure,5.2,2768,85.369080,"[{""id"": 306, ""name"": ""jupiter""}, {""id"": 9882, ...",In a universe where human genetic material is ...,5.305246,0.777778
1652,14164,Dragonball Evolution,Action Adventure Fantasy Science Fiction Thriller,2.9,462,21.677732,"[{""id"": 3436, ""name"": ""karate""}, {""id"": 9715, ...",The young warrior Son Goku sets out on a quest...,4.320022,0.904534